*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fade-appear {
  opacity: 0;
  z-index: 1;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 500ms linear;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms linear;
}

.job-fade-enter .job-item {
  opacity: 0;
}

.job-fade-enter-active .job-item {
  opacity: 1;
}

.job-fade-exit .job-item {
  opacity: 1;
}

.job-fade-exit-active .job-item {
  opacity: 0;
}

.job-fade-enter-active .job-item,
.job-fade-exit-active .job-item {
  transition: opacity 300ms;
}

body {
  background: #f0f4f8;
  font-family: "Fira Sans", sans-serif;
  color: #102a42;
}

.main-container {
  margin: 5rem auto;
  width: 90vw;
}

.loading {
  color: #102a42;
  text-align: center;
  font-size: 10rem;
}

.content {
  display: grid;
  grid-template-columns: 10rem 1fr;
  margin-top: 1rem;
}

header {
  text-align: center;
  text-transform: capitalize;
}
header h1 {
  font-family: "Merriweather", serif;
  font-size: 2rem;
}

.underline {
  display: inline-block;
  width: 5rem;
  height: 0.25rem;
  background: #00b0bb;
}

.btn-group {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  background: none;
  outline: none;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  padding: 0.1rem;
  border-left: 4px transparent solid;
  border-right: 1px transparent solid;
  border-top: 1px transparent solid;
  border-bottom: 1px transparent solid;
}
.btn:hover {
  transition: all 600ms;
  color: #00b0bb;
  border-radius: 0 0.2rem 0.2rem 0;
  border-left: 4px solid #00b0bb;
  border-right: 1px #f8fafc solid;
  border-top: 1px #f8fafc solid;
  border-bottom: 1px #f8fafc solid;
}

.active {
  color: #00b0bb;
  border-radius: 0 0.2rem 0.2rem 0;
  border-left: 4px solid #00b0bb;
  border-right: 1px #f8fafc solid;
  border-top: 1px #f8fafc solid;
  border-bottom: 1px #f8fafc solid;
}

@media only screen and (max-width: 720px) {
  .content {
    display: flex;
    flex-direction: column;
  }

  .btn-group {
    display: flex;
    margin: 0 auto;
    flex-flow: row wrap;
    width: 50%;
    justify-content: space-around;
    height: auto;
  }

  .btn {
    line-height: 0.7;
    margin: 0.2rem;
    padding: 0.5rem;
    border-left: 1px transparent solid;
    border-right: 1px transparent solid;
    border-top: 1px transparent solid;
    border-bottom: 4px transparent solid;
  }
  .btn:hover {
    border-radius: 0.2rem 0.2rem 0 0;
    border-left: 1px #f8fafc solid;
    border-bottom: 4px solid #00b0bb;
  }

  .active {
    border-radius: 0.2rem 0.2rem 0 0;
    border-left: 1px #f8fafc solid;
    border-right: 1px #f8fafc solid;
    border-top: 1px #f8fafc solid;
    border-bottom: 4px solid #00b0bb;
  }
}
.job-item {
  padding-left: 3rem;
}

.job-title {
  font-size: 1.7rem;
}

.job-header {
  display: grid;
  gap: 0.7rem;
}

.job-company {
  width: fit-content;
  font-family: "Merriweather", serif;
  padding: 0.2rem;
  font-size: 1rem;
  color: #718aa4;
  background: #dae2ec;
  display: inline-block;
  border-radius: 0.2rem;
}

.job-dates {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color: #617d98;
}

.job-duties {
  margin-top: 1rem;
}

.duty {
  line-height: 1.5rem;
  display: grid;
  grid-template-columns: 5% 1fr;
  align-items: center;
  color: #324d67;
}

.list-disc {
  color: #00b0bb;
}

@media only screen and (max-width: 350px) {
  .duty {
    grid-template-columns: auto 1fr;
  }
}

/*# sourceMappingURL=index.css.map */
