@import "./reset";

// ===================
// General styles
// ===================
$background-color: #f0f4f8;
$main-font-family: "Fira Sans", sans-serif;
$title-font-family: "Merriweather", serif;
$main-color: #102a42;
$light-blue: #00b0bb;
$duty-color: #324d67;
$underline-color: $light-blue;
$btn-active-color: $light-blue;

@mixin activeAndHover() {
  color: $btn-active-color;
  border-radius: 0 0.2rem 0.2rem 0;
  border-left: 4px solid $light-blue;
  border-right: 1px #f8fafc solid;
  border-top: 1px #f8fafc solid;
  border-bottom: 1px #f8fafc solid;
}

body {
  background: $background-color;
  font-family: $main-font-family;
  color: $main-color;
}

.main-container {
  margin: 5rem auto;
  width: 90vw;
}
.loading {
  color: $main-color;
  text-align: center;
  font-size: 10rem;
}

// =================
// Header
// =================

header {
  text-align: center;
  text-transform: capitalize;
  h1 {
    font-family: $title-font-family;
    font-size: 2rem;
  }
}

.underline {
  display: inline-block;
  width: 5rem;
  height: 0.25rem;
  background: $underline-color;
}

// =======================
// Content
// =======================

.content {
  display: grid;
  grid-template-columns: 10rem 1fr;
  margin-top: 1rem;
}

// ==========
// Buttons
// ==========
.btn-group {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  background: none;
  outline: none;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  padding: 0.1rem;

  border-left: 4px transparent solid;
  border-right: 1px transparent solid;
  border-top: 1px transparent solid;
  border-bottom: 1px transparent solid;

  &:hover {
    transition: all 600ms;
    @include activeAndHover();
  }
}

.active {
  @include activeAndHover();
}

@media only screen and (max-width: 720px) {
  .content {
    display: flex;
    flex-direction: column;
  }
  .btn-group {
    display: flex;
    margin: 0 auto;
    flex-flow: row wrap;
    width: 50%;
    justify-content: space-around;
    height: auto;
  }
  .btn {
    line-height: 0.7;
    margin: 0.2rem;
    padding: 0.5rem;

    border-left: 1px transparent solid;
    border-right: 1px transparent solid;
    border-top: 1px transparent solid;
    border-bottom: 4px transparent solid;
    &:hover {
      border-radius: 0.2rem 0.2rem 0 0;
      border-left: 1px #f8fafc solid;
      border-bottom: 4px solid $light-blue;
    }
  }
  .active {
    border-radius: 0.2rem 0.2rem 0 0;
    border-left: 1px #f8fafc solid;
    border-right: 1px #f8fafc solid;
    border-top: 1px #f8fafc solid;
    border-bottom: 4px solid $light-blue;
  }
}

// ============
// Job item
// ============

.job-item {
  padding-left: 3rem;
}

.job-title {
  font-size: 1.7rem;
}

.job-header {
  display: grid;
  gap: 0.7rem;
}

.job-company {
  width: fit-content;
  font-family: $title-font-family;
  padding: 0.2rem;
  font-size: 1rem;
  color: #718aa4;
  background: #dae2ec;
  display: inline-block;
  border-radius: 0.2rem;
}

.job-dates {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color: #617d98;
}

.job-duties {
  margin-top: 1rem;
}

.duty {
  line-height: 1.5rem;
  display: grid;
  grid-template-columns: 5% 1fr;
  align-items: center;
  color: $duty-color;
}

.list-disc {
  color: $light-blue;
}

@media only screen and (max-width: 350px) {
  .duty {
    grid-template-columns: auto 1fr;
  }
}
